{% extends "edu_base.html" %}

{% block title %}
个人中心
{% endblock %}

{% block head %}
<style>
    .content {
        min-height: 480px;
        padding-top: 10px;
    }
    caption {
        text-align: center;
        font-size: 40px;
    }
    .table-content {
        position: relative;
        padding: 20px 150px;

    }
    .bot {
        position: relative;
        padding: 10px 200px;
        margin: 0 100px;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="content">
        <div class="table-content">
        <table class="table table-hover table-bordered" align="center">
            <caption align="top">个人信息</caption>
            <tbody>
                <tr>
                    <th>姓名</th>
                    <td>{{ edu.name }}</td>
                </tr>
            <tr>
                    <th>性别</th>
                    <td>{% if edu.gender %}
                        男
                        {% else %}
                        女
                        {% endif %}
                    </td>

                </tr>
                 <tr>
                    <th>身份证号</th>
                    <td>{{ edu.card_id }}</td>
                </tr>
            <tr>
                    <th>工号</th>
                    <td>{{ edu.no }}</td>
                </tr>
            <tr>
                    <th>职位</th>
                    <td>{{ edu.position }}</td>
                </tr>

            <tr>
                    <th>电子邮箱</th>
                    <td>{{ edu.email }}</td>
                </tr>
            <tr>
                    <th>电话号码</th>
                    <td>{{ edu.tel }}</td>
                </tr>


            </tbody>
        </table>
        <div class="bot">
      <a href="{% url "change_pwd" %}"><button class="btn btn-primary">更改密码 </button></a>
      <button class="btn btn-primary" onclick="edit()">编辑资料 </button>

        </div>
            </div>
    </div>
</div>

<div class="modal fade" id="editEdu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">修改个人资料</h3>
                </div>
                <div class="modal-body">
                    <form action="editStudent" method="post" id="edit-fm2">
                        <div class="form-group">

                            {% csrf_token %}
                                <p>
                                <span>姓名</span>
                                <input type="text" class="form-control" value="{{ edu.name }}" readonly>
                                <br>
                                <small id="errName3"></small></p>

                            <p class="sno-setting">
                                <span>工号</span>
                                <input name="no" type="text" class="form-control" value="{{ edu.no }}" readonly>

                                <br>
                                <small id="errNo3"></small></p>

                            <p>
                                <span>性别</span>
                                {% if  edu.gender %}
                                <input type="text" class="form-control" value="男" readonly>
                                {% else %}
                                <input type="text" class="form-control" value="女" readonly>
                                {% endif %}
                                <br>
                                <small id="errGender3"></small></p>

                            <p>
                                <span>身份证号</span>
                                <input type="text" class="form-control" value="{{ edu.card_id }}" readonly>

                                <br>
                                <small id="errCardId3"></small></p>

                            <p>
                                <span>职位</span>
                                 <input type="text" class="form-control" value="{{ edu.position.name }}" readonly>

                                <br>
                                <small id="errPos3"></small></p>
                            <p>
                                <span>电子邮箱</span>
                                 <input name="email" type="text" class="form-control" value="{{ edu.email }}">

                                <br>
                                <small id="errEmail3"></small></p>
                            <p>
                                <span>电话</span>
                                 <input name="tel" type="number" class="form-control" value="{{ edu.tel }}">

                                <br>
                                <small id="errTel3"></small></p>


                        </div>
                </form>
                    <div class="modal-footer">
                    <small><b id="err_msg3" style="float: left"></b></small>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary"onclick="editEdu()">确定</button>
                </div>

                </div>
            </div>
        </div>
    </div>

    <script>
            $("#nav6").addClass("active");

        function edit() {
        $('#editEdu').modal('show');

    }

        function editEdu() {

            $("#errEmail3").html("");
            $("#errTel3").html("");
            $.ajax({
                url: "editEdu",
                type: "POST",
                dataType: "json",
                data: $("#edit-fm2").serialize(),
                success:function (arg) {
                    if(arg.status==true){
                        $("#editEdu").modal("hide");
                        window.location.reload();
                    }else {
                        console.log("failed");

                        $("#errEmail3").html(arg.msg.email).css("color","red");
                        $("#errTel3").html(arg.msg.tel).css("color","red");

                    }
                }
            })
        }

    </script>
{% endblock %}