{% extends "edu_base.html" %}
{% block title %}
教务首页
{% endblock %}

{% block head %}
<style>

    .content {
        min-height: 480px;
    }

</style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="content">
            <h1>this is index page</h1>
            <h1>this is index page</h1>
            <h1>this is index page</h1>
            <h1>this is index page</h1>
        </div>
    </div>

    <script>
        $("#nav1").addClass("active");
    </script>
{% endblock %}