{% extends "edu_base.html" %}
{% block title %}
教务首页
{% endblock %}

{% block head %}
<style>

    .content {
        min-height: 480px;
        padding-top: 10px;
    }

</style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="content">
            <div class="content">
            <div class="panel panel-warning">
                <div class="panel-heading">
                <h2 class="panel-title">待批课程</h2>
                </div>
                <div class="panel-body">
                {% if app_list %}
                {% for a in app_list %}
                    <h3>{{ a.name }} --- {{ a.teacher.name }} --- {{ a.credit }} --- {{ a.classroom.name }} </h3>
                {% endfor %}
                    <a href="/e/approve.html"><button class="btn btn-primary">进行审批</button></a>
                {% else %}
                    <h4>今日没有待批课程~~ Have A Nice Day~</h4>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        $("#nav1").addClass("active");
    </script>
{% endblock %}