<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-tablesorter.min.js"></script>
    <style>
         .input-group{
             padding-top: 10px;
             padding-bottom: 20px;
             width: 300px;
         }
        .title-r {
            margin-top: -50px;
            padding-bottom: 10px;
            float: right;
        }
        .hide {
            display: none;
        }
        .show {
            display: inline;
        }
    </style>
</head>
<body>
<div class="container">
<form method="post">
    {% csrf_token %}
<div class="input-group">
    {{ fm.content }}
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">搜索</button>
      </span>
</div>
</form>
<div class="title-r">
        <span><button class="btn-danger btn" onclick="Del()">删除选中条目</button></span>
    </div>



    <div>
        <table class="table table-bordered table-condensed sort-table">
            <thead>

                <tr>
                    <td><input type="checkbox" onclick="SelectAll()" id="select"><small>全选</small></td>
                    <th>标题</th>
                    <th>内容</th>
                    <th>创建时间</th>
                    <th>创建者</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            {% if data %}
            {% for n in data %}
                <tr class="first-tr" nid="{{ n.id }}">
                    <td><input type="checkbox" name="course"></td>
                    <td><b>{{ n.title|slice:"10" }}</b></td>
                    <td>{{ n.content|striptags|slice:":20" }}<b>...</b></td>
                    <td>{{ n.c_time }}</td>
                    <td>{{ n.created_by.name }}</td>
                    <td>
                        <button class="btn btn-primary btn-sm" onclick="newsDetail(this);">详情</button>
                        <a href="{% url 'mod_news' n.id %}" target="_parent"><button class="btn btn-default btn-sm">编辑</button></a>
                        <button onclick="delOne(this)" class="btn btn-danger btn-sm" >删除</button>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="5"><h1 style="color: silver;text-align: center">未搜索到相关新闻</h1></td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        <ul class="pagination">
            <li>
            {{ obj.page_range_str|safe }}
            </li>
          </ul>
    </div>
</div>

<script>
    $.ajaxSetup({
　　      data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    $(document).ready(function() {
        $(".sort-table").tablesorter();
    });



    function newsDetail(t) {
        window.parent.$('#newsDetail').modal('show');
        var nid = $(t).parent().parent().attr('nid');
        $.ajax({
            url:'m_news_detail',
            type: 'GET',
            dataType: 'JSON',
            data: {"nid":nid},
            success:function (arg) {
                window.parent.$("#newsDetail h3").html("<b>标题:</b> "+arg[0]);
                window.parent.$("#newsDetail .content").html("<b>正文:</b><hr \>"+arg[1]);
                window.parent.$("#newsDetail #c_time").html("<b>创建时间:</b>"+arg[2]+"<hr >");
                window.parent.$("#newsDetail #created_by").html("<b>创建者:</b>"+arg[3]+"<hr >");
                window.parent.$("#newsDetail #m_time").html("<b>最后修改时间:</b>"+arg[4]+"<hr >");
                if(arg[5]==3){
                    arg[5]="教师";
                    window.parent.$("#newsDetail #watcher").html("<b>可见范围:</b> "+arg[5]+"<hr >");
                }else if(arg[5]==2){
                    arg[2]="学生";
                    window.parent.$("#newsDetail #watcher").html("<b>可见范围:</b> "+arg[5]+"<hr >");
                }else {
                    arg[5]="所有人";
                    window.parent.$("#newsDetail #watcher").html("<b>可见范围:</b> "+arg[5]+"<hr >");

                }
            }

        })
    }

    function SelectAll() {
        v = $("#select").prop("checked");
        if(v==true){
            $(":checkbox").prop("checked",true);
        }else{
            $(":checkbox").prop("checked",false);
        }



    }

    function Del() {

        var arr = new Array();
        $("input[name='course']:checked").each(function () {
            arr.push($(this).parent().parent().attr("nid"))
        });

        if (arr == '') {
            alert("没有选择任何条目！");
        } else {
            $.ajax({
                url: 'del_news',
                type: 'POST',
                dataType: "JSON",
                data: {"nid": arr},
                success: function (arg) {
                    if (arg.status==true) {
                        alert("删除成功！");
                        window.location.reload();
                    } else {
                        alert("删除失败！请重新尝试");
                    }
                }
            })
        }
    }


    function delOne(t) {
        var nid = $(t).parent().parent().attr("nid");
        $.ajax({
            url: 'del_news',
                type: 'POST',
                dataType: "JSON",
                data: {"nid[]":nid},
                success: function (arg) {
                    if (arg.status==true) {
                        alert("删除成功！");
                        window.location.reload();
                    } else {
                        alert("删除失败！请重新尝试");
                    }
                }
        })
    }
</script>

</body>
</html>