{% extends 'edu_base.html' %}
{% block title %}
管理中心
{% endblock %}
{% block head %}
<style>

    .content {
        min-height: 600px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .nav-left {
        float: left;
        border-radius: 10px;
        width: 20%;
        background-color: rgb(50,120,180);
        min-height: inherit;
    }
    .nav-right {

        float: right;
        width: 80%;
        min-height: 620px;

    }
    .list-group {
        margin: 10px;
        padding-top: 20px;

    }
    .list-group-item {
        background-color: rgb(50,120,180);
        color: white;
        text-align: left;
        font-size: 20px;
    }

    .press {
        background-color: white;
        color: rgb(50,120,180);
    }

    iframe {
        width: 110%;
        height: 620px;
        border: 0px;
    }

    a:link {
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
    }
    #err_msg {
            color: red;
            font-size: 20px;
        }
</style>
{% endblock %}
{% block body %}

    <div class="content container">
    <div class="nav-left">
        <ul class="list-group">
          <a href="#"><li class="list-group-item" id="left-nav1" onclick="m_course()">课程管理 </li></a>
          <a href="#"><li class="list-group-item" id="left-nav2" onclick="m_news()">消息管理</li></a>
          <a href="#"><li class="list-group-item" id="left-nav3" onclick="m_teacher()">教师管理</li></a>
          <a href="#"><li class="list-group-item" id="left-nav4" onclick="m_student()">学生管理</li></a>
        </ul>
    </div>
    <div class="nav-right">
    <iframe>

    </iframe>
    </div>
    </div>
<div class="modal fade" id="courseDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">申请新课程</h3>
                </div>
                <div class="modal-body">

                        <div class="form-group">


                            <p>
                                <span>课程号</span>
                                <input class="form-control" type="text" disabled name="no">
                                </p>
                            <p>
                            <p>
                                <span>课程名</span>
                                <input class="form-control" type="text" disabled name="name">
                                </p>
                            <p>
                            <p>
                                <span>学分</span>
                                <input class="form-control" type="text" disabled name="credit">
                                </p>
                            <p>
                            <p>
                                <span>授课学院</span>
                                <input class="form-control" type="text" disabled name="college">
                                </p>
                            <p><p>
                                <span>任课教师</span>
                                <input class="form-control" type="text" disabled name="teacher">
                                </p>
                            <p>
                                <span>教室</span>
                                <input class="form-control" type="text" disabled name="classroom">

                                </p>
                            <p>
                                <span>星期</span>
                                <input class="form-control" type="text" disabled name="week">

                               </p>
                            <p>
                                <span>时间</span>
                                <input class="form-control" type="text" disabled name="time">

                            </p>

                        </div>

                </div>
            </div>
        </div>
    </div>



<!-- Modal -->
<div class="modal fade" id="newsDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body content">
      </div>
          <div class="panel-footer">
              <small id="created_by"></small>
              <small id="c_time"></small>
              <small id="m_time"></small>
              <small id="watcher"></small>
          </div>
    </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
          <a href="#" ><button type="button" class="btn btn-default">编辑</button></a>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addTeacher" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">教师详情</h3>
                </div>
                <div class="modal-body">
                    <form action="manage_center.html" method="post" id="fm">
                        {% csrf_token %}
                        <div class="form-group">


                            <p>
                                <span>姓名</span>
                                {{ obj.name }}
                                <br>
                                <small id="errName"></small></p>

                            <p>
                                <span>工号</span>
                                {{ obj.no }}
                                <br>
                                <small id="errNo"></small></p>

                            <p>
                                <span>性别</span>
                                {{ obj.gender }}
                                <br>
                                <small id="errGender"></small></p>

                            <p>
                                <span>身份证号</span>
                                {{ obj.card_id }}
                                <br>
                                <small id="errCardId"></small></p>
                            <p>
                                <span>所属学院</span>
                                {{ obj.college_id }}
                                <br>
                                <small id="errCollege"></small></p>

                            <p>
                                <span>职位</span>
                            {{ obj.position_id }}
                                <br>
                                <small id="errPos"></small></p>
                            <p>
                                <span>电子邮箱</span>
                            {{ obj.email }}
                                <br>
                                <small id="errEmail"></small></p>
                            <p>
                                <span>电话</span>
                            {{ obj.tel }}
                                <br>
                                <small id="errTel"></small></p>


                        </div>
                </form>
                    <div class="modal-footer">
                    <small><b id="err_msg" style="float: left"></b></small>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="pubBtn" onclick="add();">发布</button>
                </div>

                </div>
            </div>
        </div>
    </div>


<div class="modal fade" id="teacherDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">教师详情</h3>
                </div>
                <div class="modal-body">

                        <div class="form-group">


                            <p>
                                <span>姓名</span>
                                <input class="form-control" type="text" disabled name="no">
                                </p>
                            <p>
                            <p>
                                <span>工号</span>
                                <input class="form-control" type="text" disabled name="name">
                                </p>
                            <p>
                            <p>
                                <span>性别</span>
                                <input class="form-control" type="text" disabled name="gender">
                                </p>
                            <p>
                            <p>
                                <span>所属学院</span>
                                <input class="form-control" type="text" disabled name="credit">
                                </p>
                            <p>
                            <p>
                                <span>职位</span>
                                <input class="form-control" type="text" disabled name="college">
                                </p>
                            <p><p>
                                <span>电子邮箱</span>
                                <input class="form-control" type="text" disabled name="teacher">
                                </p>
                            <p>
                                <span>电话</span>
                                <input class="form-control" type="text" disabled name="classroom">

                                </p>
                            <p>
                                <span>生日</span>
                                <input class="form-control" type="text" disabled name="week">

                               </p>

                        </div>

                </div>
            </div>
        </div>
    </div>

{#<div class="modal fade" id="editTeacher" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">#}
{#        <div class="modal-dialog" role="document">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
{#                            aria-hidden="true">&times;</span></button>#}
{#                    <h3 class="modal-title" id="myModalLabel">教师详情</h3>#}
{#                </div>#}
{#                <div class="modal-body">#}
{##}
{#                        <div class="form-group">#}
{##}
{##}
{#                            <p>#}
{#                                <span>姓名</span>#}
{#                                <input class="form-control" type="text" disabled name="no">#}
{#                                </p>#}
{#                            <p>#}
{#                            <p>#}
{#                                <span>工号</span>#}
{#                                <input class="form-control" type="text" disabled name="name">#}
{#                                </p>#}
{#                            <p>#}
{#                            <p>#}
{#                                <span>性别</span>#}
{#                                <input class="form-control" type="text" disabled name="gender">#}
{#                                </p>#}
{#                            <p>#}
{#                            <p>#}
{#                                <span>所属学院</span>#}
{#                                <input class="form-control" type="text" disabled name="credit">#}
{#                                </p>#}
{#                            <p>#}
{#                            <p>#}
{#                                <span>职位</span>#}
{#                                <input class="form-control" type="text" disabled name="college">#}
{#                                </p>#}
{#                            <p><p>#}
{#                                <span>电子邮箱</span>#}
{#                                <input class="form-control" type="text" disabled name="teacher">#}
{#                                </p>#}
{#                            <p>#}
{#                                <span>电话</span>#}
{#                                <input class="form-control" type="text" disabled name="classroom">#}
{##}
{#                                </p>#}
{#                            <p>#}
{#                                <span>生日</span>#}
{#                                <input class="form-control" type="text" disabled name="week">#}
{##}
{#                               </p>#}
{##}
{#                        </div>#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


<script>
        $("#nav5").addClass("active");

        function m_course() {
            $("#left-nav1").addClass("press");
            $("#left-nav2").removeClass("press");
            $("#left-nav3").removeClass("press");
            $("#left-nav4").removeClass("press");
            $("iframe").attr("src","/m_course");


        }
        function m_news() {
            $("#left-nav2").addClass("press");
            $("#left-nav1").removeClass("press");
            $("#left-nav3").removeClass("press");
            $("#left-nav4").removeClass("press");
            $("iframe").attr("src","/m_news");

        }
        function m_teacher() {
            $("#left-nav3").addClass("press");
            $("#left-nav1").removeClass("press");
            $("#left-nav2").removeClass("press");
            $("#left-nav4").removeClass("press");
            $("iframe").attr("src","/m_teacher");

        }
        function m_student() {
            $("#left-nav4").addClass("press");
            $("#left-nav1").removeClass("press");
            $("#left-nav2").removeClass("press");
            $("#left-nav3").removeClass("press");
            $("iframe").attr("src","/m_student");

        }

        function add() {
            $("#err_msg").html("");
            $("#errName").html("");
            $("#errNo").html("");
            $("#errGender").html("");
            $("#errCardId").html("");
            $("#errCollege").html("");
            $("#errPos").html("");
            $("#errEmail").html("");
            $("#errTel").html("");
            $.ajax({
                url:'manageCenter.html',
                type: "POST",
                dataType: "JSON",
                data: $("#fm").serialize(),
                success:function (arg) {
                    if(arg.status){
                        $("#addModal").modal("hide");
                        window.location.reload();
                    }else{
                        console.log("失败");
                        $("#err_msg").html(arg.msg);
                        $("#errName").html(arg.msg.name);
                        $("#errNo").html(arg.msg.no);
                        $("#errGender").css("color","red").html(arg.msg.gender);
                        $("#errCardId").html(arg.msg.card_id);
                        $("#errCollege").html(arg.msg.college_id);
                        $("#errPos").html(arg.msg.position_id);
                        $("#errEmail").html(arg.msg.email);
                        $("#errTel").html(arg.msg.tel);

                    }
                }

            })
        }
</script>
{% endblock %}