{% extends 'edu_base.html' %}
{% block title %}
管理中心
{% endblock %}
{% block head %}
<style>

    .content {
        min-height: 600px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .nav-left {
        float: left;
        width: 20%;
        background-color: rgb(50,120,180);
        min-height: inherit;

    }
    .nav-right {

        float: right;
        width: 80%;
        min-height: 620px;

    }
    .list-group {
        margin: 10px;
        padding-top: 20px;

    }
    .list-group-item {
        background-color: rgb(50,120,180);
        color: white;
        text-align: left;
        font-size: 20px;
    }

    .press {
        background-color: white;
        color: rgb(50,120,180);
    }

    iframe {
        width: 110%;
        height: 620px;
        border: 0px;
    }

    a:link {
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
    }
    #err_msg {
            color: red;
            font-size: 20px;
        }
</style>
{% endblock %}
{% block body %}

<div class="content container">
    <div class="nav-left">
        <ul class="list-group">
          <a href="#"><li class="list-group-item" id="left-nav1" onclick="m_course()">课程管理 </li></a>
          <a href="#"><li class="list-group-item" id="left-nav2" onclick="m_news()">消息管理</li></a>
          <a href="#"><li class="list-group-item" id="left-nav3" onclick="m_teacher()">教师管理</li></a>
          <a href="#"><li class="list-group-item" id="left-nav4" onclick="m_student()">学生管理</li></a>
        </ul>
    </div>
    <div class="nav-right">
        <iframe src="/m_course">
        </iframe>
    </div>
</div>


<div class="modal fade" id="courseDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">课程详情</h3>
                </div>
                <div class="modal-body">

                        <div class="form-group">


                            <p>
                                <span>课程号</span>
                                <input class="form-control" type="text" disabled name="no">
                                </p>
                            <p>
                            <p>
                                <span>课程名</span>
                                <input class="form-control" type="text" disabled name="name">
                                </p>
                            <p>
                            <p>
                                <span>学分</span>
                                <input class="form-control" type="text" disabled name="credit">
                                </p>
                            <p>
                            <p>
                                <span>授课学院</span>
                                <input class="form-control" type="text" disabled name="college">
                                </p>
                            <p><p>
                                <span>任课教师</span>
                                <input class="form-control" type="text" disabled name="teacher">
                                </p>
                            <p>
                                <span>教室</span>
                                <input class="form-control" type="text" disabled name="classroom">

                                </p>
                            <p>
                                <span>星期</span>
                                <input class="form-control" type="text" disabled name="week">

                               </p>
                            <p>
                                <span>时间</span>
                                <input class="form-control" type="text" disabled name="time">

                            </p>

                        </div>

                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="newsDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body content">
      </div>
          <div class="panel-footer">
              <small id="created_by"></small>
              <small id="c_time"></small>
              <small id="m_time"></small>
              <small id="watcher"></small>
          </div>
    </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
          <a href="#" ><button type="button" class="btn btn-default">编辑</button></a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addTeacher" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">增加教师</h3>
                </div>
                <div class="modal-body">
                    <form action="manage_center.html" method="post" id="fm">
                        {% csrf_token %}
                        <div class="form-group">


                            <p>
                                <span>姓名</span>
                                {{ obj.name }}
                                <br>
                                <small id="errName"></small></p>

                            <p>
                                <span>工号</span>
                                {{ obj.no }}
                                <br>
                                <small id="errNo"></small></p>

                            <p>
                                <span>性别</span>
                                {{ obj.gender }}
                                <br>
                                <small id="errGender"></small></p>

                            <p>
                                <span>身份证号</span>
                                {{ obj.card_id }}
                                <br>
                                <small id="errCardId"></small></p>
                            <p>
                                <span>所属学院</span>
                                {{ obj.college_id }}
                                <br>
                                <small id="errCollege"></small></p>

                            <p>
                                <span>职位</span>
                            {{ obj.position_id }}
                                <br>
                                <small id="errPos"></small></p>
                            <p>
                                <span>电子邮箱</span>
                            {{ obj.email }}
                                <br>
                                <small id="errEmail"></small></p>
                            <p>
                                <span>电话</span>
                            {{ obj.tel }}
                                <br>
                                <small id="errTel"></small></p>


                        </div>
                </form>
                    <div class="modal-footer">
                    <small><b id="err_msg" style="float: left"></b></small>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="pubBtn" onclick="addT();">发布</button>
                </div>

                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="addStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">增加学生</h3>
                </div>
                <div class="modal-body">
                    <form action="manage_center.html" method="post" id="fm2">
                        {% csrf_token %}
                        <div class="form-group">


                            <p>
                                <span>姓名</span>
                                {{ obj2.name }}
                                <br>
                                <small id="errName4"></small></p>

                            <p>
                                <span>学号</span>
                                {{ obj2.no }}
                                <br>
                                <small id="errNo4"></small></p>

                            <p>
                                <span>性别</span>
                                {{ obj2.gender }}
                                <br>
                                <small id="errGender4"></small></p>

                            <p>
                                <span>身份证号</span>
                                {{ obj2.card_id }}
                                <br>
                                <small id="errCardId4"></small></p>
                            <p>
                                <span>所属学院</span>
                                {{ obj2.college_id }}
                                <br>
                                <small id="errCollege4"></small></p>

                            <p>
                                <span>年级</span>
                            {{ obj2.grade_id }}
                                <br>
                                <small id="errGrade4"></small></p>
                            <p>
                                <span>电子邮箱</span>
                            {{ obj2.email }}
                                <br>
                                <small id="errEmail4"></small></p>
                            <p>
                                <span>电话</span>
                            {{ obj2.tel }}
                                <br>
                                <small id="errTel4"></small></p>


                        </div>
                </form>
                    <div class="modal-footer">
                    <small><b id="err_msg4" style="float: left"></b></small>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="pubBtn" onclick="addS();">确定</button>
                </div>

                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="teacherDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">教师详情</h3>
                </div>
                <div class="modal-body">

                        <div class="form-group">


                            <p>
                                <span>姓名</span>
                                <input class="form-control" type="text" disabled name="no">
                                </p>
                            <p>
                            <p>
                                <span>工号</span>
                                <input class="form-control" type="text" disabled name="name">
                                </p>
                            <p>
                            <p>
                                <span>性别</span>
                                <input class="form-control" type="text" disabled name="gender">
                                </p>
                            <p>
                            <p>
                                <span>所属学院</span>
                                <input class="form-control" type="text" disabled name="credit">
                                </p>
                            <p>
                            <p>
                                <span>职位</span>
                                <input class="form-control" type="text" disabled name="college">
                                </p>
                            <p><p>
                                <span>电子邮箱</span>
                                <input class="form-control" type="text" disabled name="teacher">
                                </p>
                            <p>
                                <span>电话</span>
                                <input class="form-control" type="text" disabled name="classroom">

                                </p>
                            <p>
                                <span>生日</span>
                                <input class="form-control" type="text" disabled name="week">

                               </p>

                        </div>

                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="studentDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">学生详情</h3>
                </div>
                <div class="modal-body">

                        <div class="form-group">


                            <p>
                                <span>姓名</span>
                                <input class="form-control" type="text" disabled name="no">
                                </p>
                            <p>
                            <p>
                                <span>学号</span>
                                <input class="form-control" type="text" disabled name="name">
                                </p>
                            <p>
                            <p>
                                <span>性别</span>
                                <input class="form-control" type="text" disabled name="gender">
                                </p>
                            <p>
                            <p>
                                <span>所属学院</span>
                                <input class="form-control" type="text" disabled name="credit">
                                </p>
                            <p>
                            <p>
                                <span>年级</span>
                                <input class="form-control" type="text" disabled name="college">
                                </p>
                            <p><p>
                                <span>电子邮箱</span>
                                <input class="form-control" type="text" disabled name="teacher">
                                </p>
                            <p>
                                <span>电话</span>
                                <input class="form-control" type="text" disabled name="classroom">

                                </p>
                            <p>
                                <span>生日</span>
                                <input class="form-control" type="text" disabled name="week">

                               </p>

                        </div>

                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="editTeacher" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">修改教师资料</h3>
                </div>
                <div class="modal-body">
                    <form action="editTeacher" method="post" id="edit-fm">
                        <div class="form-group">

                            {% csrf_token %}
                                <p>
                                <span>姓名</span>
                                {{ obj.name }}
                                <br>
                                <small id="errName2"></small></p>

                            <p class="tno-setting">
                                <span>工号</span>
                                {{ obj.no }}
                                <br>
                                <small id="errNo2"></small></p>

                            <p>
                                <span>性别</span>
                                {{ obj.gender }}
                                <br>
                                <small id="errGender2"></small></p>

                            <p>
                                <span>身份证号</span>
                                {{ obj.card_id }}
                                <br>
                                <small id="errCardId2"></small></p>
                            <p>
                                <span>所属学院</span>
                                {{ obj.college_id }}
                                <br>
                                <small id="errCollege2"></small></p>

                            <p>
                                <span>职位</span>
                            {{ obj.position_id }}
                                <br>
                                <small id="errPos2"></small></p>
                            <p>
                                <span>电子邮箱</span>
                            {{ obj.email }}
                                <br>
                                <small id="errEmail2"></small></p>
                            <p>
                                <span>电话</span>
                            {{ obj.tel }}
                                <br>
                                <small id="errTel2"></small></p>


                        </div>
                </form>
                    <div class="modal-footer">
                    <small><b id="err_msg2" style="float: left"></b></small>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary"onclick="editT()">确定</button>
                </div>

                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="editStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">修改学生资料</h3>
                </div>
                <div class="modal-body">
                    <form action="editStudent" method="post" id="edit-fm2">
                        <div class="form-group">

                            {% csrf_token %}
                                <p>
                                <span>姓名</span>
                                {{ obj2.name }}
                                <br>
                                <small id="errName3"></small></p>

                            <p class="sno-setting">
                                <span>学号</span>
                                {{ obj2.no }}
                                <br>
                                <small id="errNo3"></small></p>

                            <p>
                                <span>性别</span>
                                {{ obj2.gender }}
                                <br>
                                <small id="errGender3"></small></p>

                            <p>
                                <span>身份证号</span>
                                {{ obj2.card_id }}
                                <br>
                                <small id="errCardId3"></small></p>
                            <p>
                                <span>所属学院</span>
                                {{ obj2.college_id }}
                                <br>
                                <small id="errCollege3"></small></p>

                            <p>
                                <span>年级</span>
                            {{ obj2.grade_id }}
                                <br>
                                <small id="errPos3"></small></p>
                            <p>
                                <span>电子邮箱</span>
                            {{ obj2.email }}
                                <br>
                                <small id="errEmail3"></small></p>
                            <p>
                                <span>电话</span>
                            {{ obj2.tel }}
                                <br>
                                <small id="errTel3"></small></p>


                        </div>
                </form>
                    <div class="modal-footer">
                    <small><b id="err_msg3" style="float: left"></b></small>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary"onclick="editS()">确定</button>
                </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="patchTea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">批量创建教师资料</h4>
      </div>
      <div class="modal-body">
        <small class="text-muted">请按照如图所示格式，上传xls文件，请注意格式必须为<b>xls</b></small>
         <br>
          <img src="/static/img/teacher.png" style="width: 550px;height: 300px;padding: 20px" \>
        <a href="/teacher_excel_download" ><button type="button" class="btn btn-default">下载样表</button></a>
      </div>
      <div class="modal-footer">


          <form class="form-group" enctype="multipart/form-data" action="{% url 'patch_add_teacher' %}" method="post">
                {% csrf_token %}
              <input  type="file" name="file" id="file_upload" accept="application/vnd.ms-excel" >
                 <button  type="submit" class="btn btn-primary" onclick="FileUpload()">开始上传附件</button>
          </form>
      </div>
    </div>
  </div>
</div>
    <div class="modal fade" id="patchStu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">批量创建学生资料</h4>
      </div>
      <div class="modal-body">
        <small class="text-muted">请按照如图所示格式，上传xls文件，请注意格式必须为<b>xls</b></small>
         <br>
          <img src="/static/img/student.png" style="width: 550px;height: 300px;padding: 20px" \>
        <a href="/student_excel_download" ><button type="button" class="btn btn-default">下载样表</button></a>
      </div>
      <div class="modal-footer">


          <form class="form-group" enctype="multipart/form-data" action="{% url 'patch_add_student' %}" method="post">
                {% csrf_token %}
              <input  type="file" name="file" id="file_upload" accept="application/vnd.ms-excel" >
                 <button  type="submit" class="btn btn-primary" onclick="FileUpload()">开始上传附件</button>
          </form>
      </div>
    </div>
  </div>
</div>


<script>
        $("#nav5").addClass("active");

        $.ajaxSetup({
　　      data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });

        var i = $(".tno-setting input").attr("readonly",true);
        var j = $(".sno-setting input").attr("readonly",true);
        
        {#function FileUpload() {#}
        {#    var form_data = new FormData();#}
        {#    var file_info = $('#file_upload')[0].files[0];#}
        {#    console.log(file_info)#}
        {#    form_data.append('file',file_info);#}
        {#    $.ajaxSetup({#}
        {#        beforeSend: function(xhr, settings) {#}
        {#            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {#}
        {#                xhr.setRequestHeader("X-CSRFToken", csrftoken);#}
        {#            }#}
        {#        }#}
        {#    });#}
        {#    $.ajax({#}
        {#        url:"{% url 'patch_add_student' %}",#}
        {#        type:'POST',#}
        {#        data: form_data,#}
        {#        success: function(arg) {#}
        {#            console.log(arg);#}
        {##}
        {#        },#}
        {#        processData: false,  // tell jquery not to process the data#}
        {#        contentType: false // tell jquery not to set contentType#}
        {##}
        {#    }); // end ajax#}
        {##}
        {#}#}

        function editT() {

            $("#err_msg2").html("");
            $("#errName2").html("");
            $("#errNo2").html("");
            $("#errGender2").html("");
            $("#errCardId2").html("");
            $("#errCollege2").html("");
            $("#errPos2").html("");
            $("#errEmail2").html("");
            $("#errTel2").html("");

            $.ajax({
                url: "/editTeacher",
                type: "POST",
                dataType: "json",
                data: $("#edit-fm").serialize(),
                success:function (arg) {
                    if(arg.status==true){
                        $("#editTeacher").modal("hide");
                        $('iframe').attr('src', $('iframe').attr('src'));
                    }else {
                        console.log("failed");
                        console.log(arg.msg.tel);
                       $("#err_msg2").html(arg.msg).css("color","red");
                        $("#errName2").html(arg.msg.name).css("color","red");
                        $("#errGender2").html(arg.msg.gender).css("color","red");
                        $("#errCardId2").html(arg.msg.card_id).css("color","red");
                        $("#errCollege2").html(arg.msg.college_id).css("color","red");
                        $("#errPos2").html(arg.msg.position_id).css("color","red");
                        $("#errEmail2").html(arg.msg.email).css("color","red");
                        $("#errTel2").html(arg.msg.tel).css("color","red");
                    }
                }
            })
        }

        function editS() {
            $("#err_msg3").html("");
            $("#errName3").html("");
            $("#errNo3").html("");
            $("#errGender3").html("");
            $("#errCardId3").html("");
            $("#errCollege3").html("");
            $("#errPos3").html("");
            $("#errEmail3").html("");
            $("#errTel3").html("");
            $.ajax({
                url: "/editStudent",
                type: "POST",
                dataType: "json",
                data: $("#edit-fm2").serialize(),
                success:function (arg) {
                    if(arg.status==true){
                        $("#editStudent").modal("hide");
                        $('iframe').attr('src', $('iframe').attr('src'));
                    }else {
                        console.log("failed");
                       $("#err_msg3").html(arg.msg).css("color","red");
                        $("#errName3").html(arg.msg.name).css("color","red");
                        $("#errGender3").html(arg.msg.gender).css("color","red");
                        $("#errCardId3").html(arg.msg.card_id).css("color","red");
                        $("#errCollege3").html(arg.msg.college_id).css("color","red");
                        $("#errGrade3").html(arg.msg.grade_id).css("color","red");
                        $("#errEmail3").html(arg.msg.email).css("color","red");
                        $("#errTel3").html(arg.msg.tel).css("color","red");

                    }
                }
            })
        }

        function m_course() {
            $("#left-nav1").addClass("press");
            $("#left-nav2").removeClass("press");
            $("#left-nav3").removeClass("press");
            $("#left-nav4").removeClass("press");
            $("iframe").attr("src","/m_course");


        }
        function m_news() {
            $("#left-nav2").addClass("press");
            $("#left-nav1").removeClass("press");
            $("#left-nav3").removeClass("press");
            $("#left-nav4").removeClass("press");
            $("iframe").attr("src","/m_news");

        }
        function m_teacher() {
            $("#left-nav3").addClass("press");
            $("#left-nav1").removeClass("press");
            $("#left-nav2").removeClass("press");
            $("#left-nav4").removeClass("press");
            $("iframe").attr("src","/m_teacher");

        }
        function m_student() {
            $("#left-nav4").addClass("press");
            $("#left-nav1").removeClass("press");
            $("#left-nav2").removeClass("press");
            $("#left-nav3").removeClass("press");
            $("iframe").attr("src","/m_student");

        }

        function addT() {
            $("#err_msg").html("");
            $("#errName").html("");
            $("#errNo").html("");
            $("#errGender").html("");
            $("#errCardId").html("");
            $("#errCollege").html("");
            $("#errPos").html("");
            $("#errEmail").html("");
            $("#errTel").html("");
            $.ajax({
                url:'manageCenter.html',
                type: "POST",
                dataType: "JSON",
                data: $("#fm").serialize(),
                success:function (arg) {
                    if(arg.status==true){
                        $("#addTeacher").modal("hide");
                        $('iframe').attr('src', $('iframe').attr('src'));
                    }else{
                        console.log("失败");
                        $("#err_msg").html(arg.msg).css("color","red");
                        $("#errName").html(arg.msg.name).css("color","red");
                        $("#errNo").html(arg.msg.no).css("color","red");
                        $("#errGender").css("color","red").html(arg.msg.gender).css("color","red");
                        $("#errCardId").html(arg.msg.card_id).css("color","red");
                        $("#errCollege").html(arg.msg.college_id).css("color","red");
                        $("#errPos").html(arg.msg.position_id).css("color","red");
                        $("#errEmail").html(arg.msg.email).css("color","red");
                        $("#errTel").html(arg.msg.tel).css("color","red");
                    }
                }
            })
        }


        function addS() {
            $("#err_msg4").html("");
            $("#errName4").html("");
            $("#errNo4").html("");
            $("#errGender4").html("");
            $("#errCardId4").html("");
            $("#errCollege4").html("");
            $("#errGrade4").html("");
            $("#errEmail4").html("");
            $("#errTel4").html("");
            $.ajax({
                url:'/addStudent',
                type: "POST",
                dataType: "JSON",
                data: $("#fm2").serialize(),
                success:function (arg) {
                    if(arg.status==true){
                        $("#addStudent").modal("hide");
                            $('iframe').attr('src', $('iframe').attr('src'));
                    }else{
                        console.log("失败");
                        $("#err_msg4").html(arg.msg).css("color","red");
                        $("#errName4").html(arg.msg.name).css("color","red");
                        $("#errNo4").html(arg.msg.no).css("color","red");
                        $("#errGender4").css("color","red").html(arg.msg.gender).css("color","red");
                        $("#errCardId4").html(arg.msg.card_id).css("color","red");
                        $("#errCollege4").html(arg.msg.college_id).css("color","red");
                        $("#errGrade4").html(arg.msg.grade_id).css("color","red");
                        $("#errEmail4").html(arg.msg.email).css("color","red");
                        $("#errTel4").html(arg.msg.tel).css("color","red");
                    }
                }

            })
        }

</script>
{% endblock %}